body {
    background-image: url("https://img5.thuthuatphanmem.vn/uploads/2021/11/19/tranh-phong-canh-ngoi-lang-anime_041801300.jpg");
    background-size: cover;
    image-rendering: pixelated;
}

.wapper {
    background-image: linear-gradient(#AFEEEE, white);
    width: 40%;
    height: 35rem;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 5rem;
}

.header {
    display: flex;
}

.header-left {
    width: 50%;
}

.header-right {
    width: 50%;
}

h1{
    font-size: 2rem;
}

.avarta {
    width: 65%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid bisque;
    -webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 74%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 74%);
}

hr {
    width: 80%;
    margin-left: 0;
    background-color: bisque;
    height: 1px;
    border: 0;
}

.info {
    display: flex;
}

.info-title {
    width: 6rem;
    font-weight: bold;
}

.describe {
    padding: 1rem 2rem 1rem 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

#boxs {
    margin-top: 3px;
}

.facebook {
    background: #3a5795;
    color: #1c3977;
    background: linear-gradient(to bottom, #3a5795 0%, #2b4886 100%);
    background: -webkit-gradient(linear,
            left top,
            left bottom,
            color-stop(0%, #3a5795),
            color-stop(100%, #2b4886));
    background: -webkit-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    background: -moz-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    background: -o-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    background: -ms-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A5795', endColorstr='#2B4886', GradientType=0);
    border: 1px solid #1c3977;
    text-shadow: 0 1px 0 #4966a4;
    -webkit-text-shadow: 0 1px 0 #4966a4;
    -moz-text-shadow: 0 1px 0 #4966a4;
    box-shadow: inset 0 1px 0 #4966a4;
    -webkit-box-shadow: inset 0 1px 0 #4966a4;
    -moz-box-shadow: inset 0 1px 0 #4966a4;
}

.box {
    height: 50px;
    width: 75%;
    margin: 5px auto;
    border-radius: 20px;
    background: rgb(42, 100, 173);
    background: -moz-linear-gradient(127deg,
            rgba(42, 100, 173, 1) 0%,
            rgba(45, 136, 255, 1) 100%);
    background: -webkit-linear-gradient(127deg,
            rgba(42, 100, 173, 1) 0%,
            rgba(45, 136, 255, 1) 100%);
    background: linear-gradient(127deg,
            rgba(42, 100, 173, 1) 0%,
            rgba(45, 136, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a64ad", endColorstr="#2d88ff", GradientType=1);
    -webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 74%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 74%);
    z-index: 1;
    transition: all 250ms;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.icon {
    display: inline;
    position: relative;
    height: 50px;
    width: 50px;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.icon i {
    font-size: 30px;
    margin: 10px 20px;
    color: #ffffff;
    transition: transform 250ms;
    z-index: 2;
}

.icon i:hover {
    transform: rotate(180deg);
}

.col-10 {
    position: relative;
    max-height: 100%;
    flex: 0 0 auto;
    width: 83.33333333%;
}

#a {
    text-decoration: none;
}

.detail {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    font-family: "Roboto";
}

.messenger {
    background: #fc466b;
    background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
    background: linear-gradient(to right, #3f5efb, #fc466b);
}

.zalo {
    background: #0064f7;
    background: linear-gradient(127deg, #0064f7 0%, #2a7fff 100%);
}

.div-logo {
    position: relative;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    margin: 10px 20px;
    z-index: 5;
    transition: all 250ms;
}

.phone {
    background: #1f1c2c;
    background: -webkit-linear-gradient(to right, #1f1c2c, #928dab);
    background: linear-gradient(to right, #1f1c2c, #928dab);
}

.icon img:hover {
    transform: rotate(360deg);
}